*{
    margin: 0;
    padding: 0;
}
body{
    background-color: pink;
    /* background-image: url(./../img/back.jpg);
 */
}

  /* contact section start */
.contact
{
   
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content h2{
    font-size: 50px;
    color: black;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.box{
    position: relative;
    padding: 20px 0;
    display: flex;
    
}
.icon{
    margin-left: 250px;
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background: #fff;
    border-radius: 50%;
    font-size: 42px;
}
.text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
    
}
.text h3{
    font-weight: 50px;
    color: black;
}
.text p{
    font-weight: 20px;
    color:black;
}
.contactform{
    width: 40%;
    padding: 40px;
    background: #fff;
    box-shadow: 0  0 15px 5px rgb(154, 147, 147);
    border-radius:28px;
}
.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
    font-size:20px;
    padding:10px 10px;
   
    border-radius:28px;
    border-color:rgb(7, 47, 7); ;
}
.inputbox input,textarea{
    width: 100%;
    padding: 3px 0;
    font-size: 16px;
    margin: 10px 0;
    border: 2px solid rgb(51, 50, 50);
    border-radius: 2px solid #fff;
    outline: none;
    resize: none;
}

.inputbox input[type="submit"]{
    width: 100px;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;

}