body{
    background-image: url("./../img/plant.jpg");
    margin: 0;
    padding: 0;
    height:650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.head{
    padding-top: 15px;
    padding-bottom: 10px;
    background-color:rgb(7, 47, 7) ;
    height: 40px;
 }
.anchor{
    font-size: 25px;
    padding: 20px 20px;
    color: white;
    text-decoration: none;
 }
  .anchor:hover{
    background-color: rgb(154, 147, 147);
    border: 2px solid black;
   box-shadow: 0 2px 10px black;
  }
  .a1{
  margin-left: 620px;
}
    .shape{
    background-color:white;
    height:500px;
    width:300px;
    border:1px solid white;
    border-radius: 0 50px 0 50px;
    border-style:dotted;
    border-width:3px;
    margin-left: 670px;
    margin-top: 40px;
}
.login{
    margin-left: 89px;
}
.log{
    margin-left: 40px;
}
.name{
        font-size:20px;
        padding:10px 10px;
        box-shadow: 0  0 10px 5px rgb(154, 147, 147);
    border-radius:28px;
    border-color:rgb(7, 47, 7); ;
    
}
.name:hover{

    background-color: white;  
      border-radius:20px;
      transition: 0.5s;
      box-shadow: 3px 3px 0 2px black;
      border-color: rgb(7, 47, 7);;
}
 .name1{
    margin-left: 85px;
 }
.btn{
    margin-left:100px ;
    font-size: 20px;
    padding: 10px 10px;
    border-color: rgb(7, 47, 7);
    border-radius: 20px;
}
.btn:hover{
    background-color: white;  
      border-radius:20px;
      transition: 0.5s;
      box-shadow: 0 1px 0 1px black;
}


 