body{
    background-image: url("./../img/plant.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}
.product_text{
    text-align: center;
    font-size: 40px;
    font-family: 'Protest Riot', sans-serif;
    font-style: oblique;
}
.parent{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}
.child{
    border-radius: 10px;
    width: 240px;
    height: 500px;
    overflow: hidden;
    padding: 5px 7px;
    margin-top: 60px;
    box-shadow: 0px 0px 10px 5px gray;
    text-align: center;
    background-color: white;
}
.product_img{
    border-radius: 10px;
    width: 240px;
    height: 200px;
}
.product_info{
    font-size: 15px;
    font-weight: 200;
    text-align: justify;
    padding: 5px 5px;
}
.product_btn{
    background-color: rgb(7, 47, 7);
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}