body{
    background-image: url("./../img/product_back_img.jpeg"); 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
   
}
.various_produts_img{
    width: 500px;
    height: 500px;
    margin-top: 100px;
    margin-left: 850px;
    box-shadow:0px 0px 10px 5px black;
    border-radius: 50%;
    position: relative;
    right: 40px;
    bottom: 670px;
}
.Text_1{
    color: white;
    font-size: 50px;
   margin-left: 150px;
   margin-top: 80px;
   font-style: oblique;
}
.Text_2{
    background-color:rgb(7, 47, 7);
    color:white ;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 250px;
    border: 2px dashed white;
    border-radius:30px 100px 30px 100px;
    width: 200px;
    height: 70px;
    padding-left: 50px;
    padding-top: 20px;
    font-style: italic;
}
.various_produts_info{
    color: black;
    width: 600px;
    margin-top: 50px;
    margin-left: 150px ;
    font-size: 20px;
    font-style: italic;
}
.btn_1{
    width: 150px;
    height: 50px;
    background-color: rgb(154, 147, 147);
    color: black;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 300px;
    border-radius: 10px 30px 10px 30px;
    box-shadow:0px 0px 1px 2px white;
    font-style: oblique;
}