@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Protest+Riot&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    font-size: 30px;
    padding: 30px;
}
.head{
    font-family: 'Protest Riot', sans-serif;
    padding-bottom: 20px;
}
.info{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.cards{
    padding-top: 43px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}
.card_d{
    border-radius: 10px;
    width: 280px;
    height: 80vh;
    overflow: hidden;
    padding: 5px 7px;
    box-shadow: -1px -1px 20px 1px gray;
    text-align: center;
    
}
.card_d img{
    border-radius: 10px;
    width: 250px;
    height: 200px;
}
.name{
    font-family: 'Poppins', sans-serif;
    font: 20px; 
    font-size: 25px;
     
}
.info{
    font-size: 12px;
    font-weight: 200;
}
.price{
    padding-left: 5px;
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    
}
.btn
{
    background-color: #149253;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
}